<!DOCTYPE html>
<html>
    
       <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <ul class="navbar">
        <li><a href="http://127.0.0.1:5500/templates/symptoms.html">SYMPTOMS</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

    <title>Disease Awareness</title>
    </head>
    
    
    <body style="background-color: rgb(205, 250, 235);">
    
    <style>
     
    #container {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
        ul.a {
            list-style-type: circle;
        }
        ul.b {
            list-style:outside; list-style-type: circle;
            margin-bottom:20px;
        }
    </style>
        
        <h1 class="mt-5 mb=0" style="font-family: Georgia, 'Times New Roman';
     font-palette:dark;color: darkslategray;font-size:50px ;text-align: center;">DIABETES</h1>
        <h1 class="mt-0 mb=5" style="font-family: Georgia, 'Times New Roman';
     font-palette:dark;color: darkslategray;font-size:50px ;text-align: center">AWARENESS</h1>
    <div class="mx-auto p-2" style="width: 250px;">
    <img src="http://127.0.0.1:5000/static/diabetes.jpeg" >
    </div>
    <div id="container">
    <h3 style="font-family: Arial, Helvetica;font-palette:normal;color:cornflowerblue;justify-content: center;">DIABETES AFFECTING PEOPLE</h3>
    <p>
        Diabetes is a widespread health issue that affects people nationwide and globally. 
        The impact of diabetes on individuals and healthcare systems is significant, leading 
        to various complications and increased healthcare costs.
        According to the International Diabetes Federation (IDF), in 2019, it was estimated 
        that approximately 463 million adults (ages 20-79) which included approx 77 million adults
        in India, were living with diabetes, and the numbers were expected to rise.
    </p>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <h3 style="font-family: Arial, Helvetica;font-palette:normal;color:cornflowerblue;justify-content: center;">SYMPTOMS</h3>
    <p style="justify-content: center;" >
        According to World Health Organization, Symptoms of diabetes may occur suddenly.
        In type 2 diabetes, the symptoms can be mild and may take many years to be noticed.
        Symptoms of diabetes include:
    </p>
        <ul class="a">
            <li>feeling very thirsty</li>
            <li>needing to urinate more often than usual</li>
            <li>blurred vision</li>
            <li>feeling tired</li>
            <li>losing weight unintentionally</li>
        </ul>    
    <h3 style="font-family: Arial, Helvetica;font-palette:normal;color:cornflowerblue">MEDICAL CONSULTATION</h3>    
    <p>
        If you suspect you have diabetes or if you are experiencing symptoms related to diabetes, it is crucial
        to seek medical consultation promptly. Here are steps you can take:
        <ul class="b">
            <li style="margin-bottom: 10px;"><b>Schedule an Appointment:</b>Contact your primary care physician or healthcare provider to schedule 
                an appointment. If you don't have a primary care doctor, consider reaching out to a general 
                practitioner, internist, or family medicine physician.</li>
            <li style="margin-bottom: 10px;"><b>Share Your Symptoms:</b>During the appointment, be open and honest about the symptoms you are experiencing.
               Provide details about when the symptoms started, their frequency, and any factors that seem to exacerbate
               or alleviate them.</li>   
            <li style="margin-bottom: 10px;"><b>Medical History:</b>Your healthcare provider will likely ask about your medical history,
                including any family history of diabetes, your lifestyle, dietary habits, and other relevant information. 
                This helps in assessing your risk factors and overall health.</li>
            <li style="margin-bottom: 10px;"><b>Physical Examination:</b>A physical examination may be conducted to check for signs of diabetes or related 
                complications. This may include measuring your blood pressure, checking your weight, and examining your 
                eyes, skin, and extremities.</li>
            <li style="margin-bottom: 10px;"><b>Blood Tests:</b>Diagnosis of diabetes often involves blood tests to measure your blood glucose levels. 
                Common tests include fasting blood sugar (FBS), oral glucose tolerance test (OGTT), and glycated hemoglobin (HbA1c). 
                These tests help determine your average blood sugar levels over time.</li> 
            <li style="margin-bottom: 10px;"><b>Further Testing:</b>Depending on the initial results, your healthcare provider may recommend additional tests to assess
                the function of your pancreas, kidneys, and other organs, as well as to check for any diabetes-related complications.</li> 
            <li style="margin-bottom: 10px;"><b>Treatment Plan:</b>If diagnosed with diabetes, your healthcare provider will work with you to develop a personalized 
                treatment plan. This may include lifestyle modifications, dietary changes, regular physical activity, 
                and possibly medication. For some, insulin therapy may be recommended.</li> 
            <li style="margin-bottom: 10px;"><b>Education and Support:</b>Understanding diabetes and its management is crucial. Your healthcare provider will provide
                information about the condition, teach you how to monitor your blood sugar levels, and offer guidance on 
                managing diabetes effectively.</li>                   
        </ul>
        Remember that early detection and proper management are key to preventing complications associated with 
        diabetes. Regular follow-up appointments and ongoing communication with your healthcare team are essential for 
        maintaining good health and managing the condition effectively. If you ever experience severe symptoms such as 
        extreme thirst, frequent urination, or unconsciousness, seek emergency medical attention immediately.
    </p> 
    </body>
    </div>
</html>